<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Yuba Harvest</title>

  <link rel="icon" href="favicon.ico" type="image/x-icon" >
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!-- Bootstrap -->
  <link rel = "stylesheet" href = "css/bootstrap.min.css" >
  <link rel = "stylesheet" href = "css/bootstrap-theme.min.css" >
  <link rel = "stylesheet" href = "css/theme.css?v=1.0" >

  <script src="js/jquery-1.7.1.js"></script>
  <script src="ui/jquery.ui.core.js"></script>
  <script src="ui/jquery.ui.widget.js"></script>
  <script src="ui/jquery.ui.datepicker.js"></script>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  <SCRIPT TYPE="text/javascript">
  <!--
  function isPhoneKey(evt)
  {
   var charCode = (evt.which) ? evt.which : event.keyCode
   if (charCode == 45) return true;
   if (charCode == 32) return true;
   if (charCode == 40) return true;
   if (charCode == 41) return true;
   if (charCode > 31 && (charCode < 48 || charCode > 57) ) return false;

   return true;

 }
      //-->
      </SCRIPT>


      <SCRIPT TYPE="text/javascript">
      <!--
      function isZipKey(evt)
      {
       var charCode = (evt.which) ? evt.which : event.keyCode

       if (charCode == 45) return true;

       if (charCode > 31 && (charCode < 48 || charCode > 57) ) return false;

       return true;

     }
      //-->
      </SCRIPT>

      <SCRIPT TYPE="text/javascript">
      <!--
      function isAlphaKey(evt)
      {
       var charCode = (evt.which) ? evt.which : event.keyCode
       if (charCode >= 58 && charCode <= 96) return true;
       if (charCode >= 65 && charCode <= 122) return true;

       return false;

     }
      //-->
      </SCRIPT>
      <script language="text/javascript">
      function checkrefresh(value) {
        document.form1.submit();
      }
      </script>

      <script type="text/javascript">
      $(function() {
        $( "#datepicker_from_date" ).datepicker();
      });

      $(function() {
        $( "#datepicker_to_date" ).datepicker();
      });
      </script>

      <script type="text/javascript">
      $(function() {
        $( "#datepicker_from_date_2" ).datepicker();
      });

      $(function() {
        $( "#datepicker_to_date_2" ).datepicker();
      });
      </script>
      <script language="text/javascript">
      function checkrefresh(value) {
        document.form1.submit();
      }
      </script>

    </head>
    <body>