<div id="nav_1"><input type="submit" name="Inventory" value="INVENTORY" class="btn btn-primary" style="width:125px;"/></div>
<div id="nav_2"><input type="submit" name="Classes" value="CLASSES" class="btn btn-primary" style="width:125px;"/></div>
<div id="nav_3"><input type="submit" name="Vendors" value="VENDORS" class="btn btn-primary" style="width:125px;"/></div>
<div id="nav_4"><input type="submit" name="Reports" value="REPORTS" class="btn btn-primary" style="width:125px;"/></div>
<div id="nav_5"><input type="submit" name="Logout" value="LOG OUT" class="btn btn-primary" style="width:125px;"/></div>
